@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Primary Brand Color */
        --color-primary: #165dfc;
        /* Text color on top of primary button */
        --color-primary-content: #ffffff;

        /* App Title Brand Color */
        --color-brand: #74d4ff;

        /* Base Backgrounds */
        --color-base-100: #172030;
        /* Inner forms and containers */
        --color-base-200: #0d1424;
        /* Main dark background */
        --color-base-300: #232f45;
        /* Borders and accents */
        --color-base-content: #fcfcfd;
        /* Soft readable white text */

        /* Surface/Neutral Colors (similar to the settings dropdown) */
        --color-neutral: #3b4252;
        --color-neutral-content: #e5e9f0;

        /* Radius Configurations for unified soft corners */
        --radius-selector: 0.5rem;
        --radius-field: 0.5rem;
        --radius-box: 1rem;
    }

    /* Force background application */
    body {
        background-color: var(--color-base-100);
        color: var(--color-base-content);
    }
}

@layer components {

    /* Prevent DaisyUI from adding its own chevron background image so it doesn't overlap with MaryUI's SVG chevron */
    .select {
        background-image: none !important;
    }
}